
nav {

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #704f50;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;

}

.brand {

  font-family: 'Bungee', sans-serif;
  padding: 1.5em;

}

.new-tweet-button {

  padding: 1.5em;
  
}